*{
  margin:0;
  padding:0;
}
body{
  max-width: 640px;
  margin:0 auto;
}
/*for >641px with screen*/
@media only screen and (min-width: 640px){
  html,img{
    font-size:200px;
  }
}
/*for 480px with screen*/
@media only screen and (min-width: 480px) and (max-width: 640px){
  html,img{
    font-size:132px;
  }
}
/*for 400px with screen*/
@media only screen and (min-width: 400px) and (max-width: 480px){
  html,img{
    font-size:121px;
  }
}
/*for 360px with screen*/
@media only screen and (min-width: 360px) and (max-width: 400px){
  html,img{
    font-size: 112.5px;
  }
}
/*for 320px with screen*/
@media only screen and (min-width: 320px) and (max-width: 360px){
  html,img{
    font-size:100px;
  }
}
@media only screen and (max-width: 320px){
  html,img{
    font-size:100px;
  }
}
.clearfix:before,

.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.container {
  margin: 0 auto;
  color: #333;
}
.slick-slider{
  margin-bottom: 0px !important;
}
.slick-slide{
  height:200px;
}
.slick-slide img{
  width:100%;
  height:100%;
}
.slick-dots{
  bottom:0;
  width:40px;
  right:10px;
}
.slick-dots li button:before{
  opacity:1;
  color:#fff;
}
.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 0.75;
}
.slick-dots li{
  width:10px;
}
